.watch {
    margin-top: 10%;
    text-align:center
}
header{
    background-color: #38ada9;
    /* padding: 20px; */
}


.watch #display {
    font-size: 8.5rem;
}
.watch #millisecond {
    font-size: 2.5rem; 
     padding-bottom: 10px;
}
#time,#date {
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}
